<a href="https://colab.research.google.com/github/anicelysantos/book-python-para-analise-de-dados/blob/main/pandas_avan%C3%A7ado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Estudos do livro "Python para análise de dados" capitulo 12*

#Import

In [1]:
import pandas as pd
import numpy as np

## Dados categorizados

In [3]:
values = pd.Series(['apple', 'orange','apple','apple'] * 2)
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [5]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [4]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [7]:
values = pd.Series([0,1,0,0] * 2)
dim = pd.Series(['apple','orange'])
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [8]:
dim

0     apple
1    orange
dtype: object

In [9]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

**Tipo Categorical do pandas**

In [10]:
fruits = ['apple', 'órange', 'apple', 'apple'] * 2
N = len(fruits)

In [11]:
df = pd.DataFrame({'fruit': fruits, 'basket_id':np.arange(N), 'count': np.random.randint(3,15, size=N), 'weight': np.random.uniform(0, 4, size=N)}, columns=['basket_id', 'fruit', 'count', 'weight'])
df

   basket_id   fruit  count    weight
0          0   apple      8  1.476479
1          1  órange     10  3.444936
2          2   apple      4  0.211685
3          3   apple      6  2.845909
4          4   apple      5  3.623202
5          5  órange     14  2.584341
6          6   apple      5  3.719253
7          7   apple     12  1.129000

In [12]:
#Converter em categorias
fruit_cat = df['fruit'].astype('category')
fruit_cat

0     apple
1    órange
2     apple
3     apple
4     apple
5    órange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'órange']

In [13]:
c = fruit_cat.values
type(c)

pandas.core.arrays.categorical.Categorical

In [14]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

In [16]:
df['fruit'] = df['fruit'].astype('category')
df.fruit

0     apple
1    órange
2     apple
3     apple
4     apple
5    órange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): ['apple', 'órange']

In [17]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

['foo', 'bar', 'baz', 'foo', 'bar']
Categories (3, object): ['bar', 'baz', 'foo']

In [19]:
categories = ['foo', 'bar', 'baz']
codes = [0,1,2,0,0,1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo', 'bar', 'baz']

In [20]:
ordered_cat = pd.Categorical.from_codes(codes, categories, ordered=True)
ordered_cat

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

In [21]:
my_cats_2.as_ordered()

['foo', 'bar', 'baz', 'foo', 'foo', 'bar']
Categories (3, object): ['foo' < 'bar' < 'baz']

**Processamentos com Categoricals**